@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Figtree', sans-serif;
    color: #231F4D;
}
header{
    width: 1100px;
    height: 104px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /* centrafr en vertical */
}
    header nav a{
        font-size: 20px;
        margin: 8px;
        text-decoration: none; /* quitar el subrayado */
        color: #231F4D;
        transition: 500ms;
    }
    header nav a:hover{
        color: #E200E2;
        /* font-size: 24px; */
    }

/* main */
main{
    width: 1100px;
    margin: auto;
}
    #hero-banner{
        height: 450px;
        background-image: url(../imgs/hero-banner.jpg);

        display: flex;
        justify-content: center;
        align-items: center;
    }
        #hero-banner h1{
            font-size: 40px;
            color: #fff;
            font-weight: 300;
        }

/* sección servicios */
#servicios{
    margin-top: 40px;
    padding: 32px;
    background-color: #FCD4D1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    #servicios h2{
        font-weight: 300;
        width: 100%;
        margin-bottom: 32px;
        text-align: center;
    }
    #servicios a{
        width: 320px;
        height: 400px;
        display: block;
        background-color: #fff;
        text-decoration: none;
        color: #231F4D;
    }
    #servicios h3{
        margin: 16px;
        font-weight: 300;
    }
    #servicios p{
        margin: 0px 16px;
        font-weight: 300;
    }

/* video */
#video-banner video{
    width: 1100px;
    height: 450px;
    object-fit: cover;  /* IMPORTANTE */
}
/* sección promos */
#promos{
    margin-top: 40px;
    padding: 40px;
    background-color: #FED8D2;
    display: grid;
    row-gap: 40px;
}

    #promos article{
        background-color: #fff;
        display: flex;
    }
        #promos article div{
            padding: 16px 32px;
        }
        #promos article div h2{
            font-weight: normal;
            margin-bottom: 20px;
        }
        #promos span{
            display: inline-block;
            color: #E14536;
            margin-bottom: 40px;
        }
        #promos a{
            display: block;
            color: #fff;
            background-color: #E14536;
            border-radius: 8px;
            width: 160px;
            text-align: center;
            margin: 40px auto 0px auto;
            padding: 8px;
            text-decoration: none;
            transition: 500ms;
        }
        #promos a:hover{
            background-color: hsl(5, 74%, 65%);
        }

/* formulario de contacto */
#contacto{
    height: 450px;
    background: rgb(255,140,87);
    background: linear-gradient(56deg, rgba(255,140,87,1) 0%, rgba(191,56,46,1) 22%, rgba(64,66,74,1) 69%, rgba(64,66,74,1) 100%);
}
    #contacto form{
        width: 544px;
        height: 334px;
        background-color: rgba(255, 255, 255, .1);
    }


/* footer */
footer{
    width: 1100px;
    height: 184px;
    background-color: #231F4D;
    margin: 40px auto 0px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
}
    footer div a{
        margin-left: 24px;
    }

